<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="DokkioTestSuite">
  <test name="FireFoxTests">
  <parameter name="browser" value="FireFox"/>
    <classes>
      <class name="com.dokkio.ui.testcases.QAJobDisplayTest"/>
    </classes>
  </test> <!-- FireFoxTests -->
  <test name="ChromeTests">
  <parameter name="browser" value="Chrome"/>
    <classes>
      <class name="com.dokkio.ui.testcases.QAJobDisplayTest"/>
    </classes>
  </test> <!-- ChromeTests -->  
</suite> <!-- DokkioTestSuite -->
